*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: no-repeat center center fixed;
  background-size: cover;
  color: white;
  text-shadow: 0px 0px 20px #242424;
}

main{
  padding: 15px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.top{
  display: flex;
  justify-content: space-between;
}

#quote {
  font-size: 1.8rem;
}

h1.time {
  text-align: center;
  font-size: 4rem;
}

div#weather {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-start;
    margin-top: -20px;
}

div#weather > img {
    width: 140px;
}

#weather > .city {
    justify-content: flex-end;
    width: 100%;
    text-align: right;
    margin: 0;
    margin-top: -10px;
    font-size: 140px;
}

p.temp {
    margin: 0;
    font-size: 1.7rem;
    margin-left: -10px;
}